# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/  # <--- これを追加 (ドット付きの仮想環境名)
ENV/
pip-freeze.txt
pip-selfcheck.json

# IDE/Editor specific
.vscode/
.idea/
*.swp
*.swo

# Secrets / Config
streamlit_app/config.yaml
secrets/
.env  # .env ファイルも無視対象に (重要)
*.json # ルート直下の全ての .json ファイルを無視 (用途によっては見直し)

# OS specific
.DS_Store
Thumbs.db

# Terraform state files
*.tfstate
*.tfstate.backup

# Firebase cache/logs
.firebase/
firebase-debug.log
database-debug.log
firestore-debug.log
storage-debug.log
ui-debug.log